In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../drawings.csv")

In [3]:
df.head()

         date                         numbers  powerball
0  11/29/2017  ['24', '26', '28', '59', '63']         16
1  11/25/2017   ['8', '13', '27', '53', '54']          4
2  11/22/2017  ['35', '37', '46', '51', '61']         13
3  11/18/2017  ['17', '28', '31', '32', '39']         26
4  11/15/2017  ['23', '32', '44', '48', '50']         25

In [4]:
df['date_format'] = pd.to_datetime(df['date'])

In [5]:
df.head()

         date                         numbers  powerball date_format
0  11/29/2017  ['24', '26', '28', '59', '63']         16  2017-11-29
1  11/25/2017   ['8', '13', '27', '53', '54']          4  2017-11-25
2  11/22/2017  ['35', '37', '46', '51', '61']         13  2017-11-22
3  11/18/2017  ['17', '28', '31', '32', '39']         26  2017-11-18
4  11/15/2017  ['23', '32', '44', '48', '50']         25  2017-11-15

In [6]:
del df['date']

In [7]:
df.head()

                          numbers  powerball date_format
0  ['24', '26', '28', '59', '63']         16  2017-11-29
1   ['8', '13', '27', '53', '54']          4  2017-11-25
2  ['35', '37', '46', '51', '61']         13  2017-11-22
3  ['17', '28', '31', '32', '39']         26  2017-11-18
4  ['23', '32', '44', '48', '50']         25  2017-11-15

In [15]:
len(df)

817

In [11]:
df.to_csv('../clean_csvs/clean_lotto_numbers.csv', index = False)

In [17]:
len(df['date_format'].unique())

817