In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../clean_csvs/clean_state_purchases_FINAL.csv")

In [5]:
df.head()

,date,draw_sales,jackpot,pp_sales,state_abbr,state_draw_sales,state_pp_sales,date_format,ticket_sales,revenue,year
0,12/02/17,33842134.0,177.0,3144938.0,AR,207040.0,50023.0,2017-12-02,103520.0,257063.0,2017
1,12/02/17,33842134.0,177.0,3144938.0,AZ,790702.0,59666.0,2017-12-02,395351.0,850368.0,2017
2,12/02/17,33842134.0,177.0,3144938.0,CA,3292686.0,0.0,2017-12-02,1646343.0,3292686.0,2017
3,12/02/17,33842134.0,177.0,3144938.0,CO,560076.0,126852.0,2017-12-02,280038.0,686928.0,2017
4,12/02/17,33842134.0,177.0,3144938.0,DC,80140.0,6985.0,2017-12-02,40070.0,87125.0,2017