In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../census_data2011_2015.csv')

In [4]:
df.head()

,state,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,year
0,AL,4747424.0,37.7,42934.0,23483.0,813385.0,17.133186,4.540210,2011
1,AK,700703.0,33.8,69014.0,31944.0,65111.0,9.292239,4.414424,2011
2,AZ,6337373.0,35.7,50752.0,25784.0,1003575.0,15.835820,4.234610,2011
3,AR,2895928.0,37.3,40149.0,21833.0,516822.0,17.846507,3.940015,2011
4,CA,36969200.0,35.1,61632.0,29634.0,5211481.0,14.096818,5.055211,2011

In [5]:
len(df)

260

In [6]:
df[df.isnull().any(axis = 1)]

Empty DataFrame
Columns: [state, Population, Median Age, Household Income, Per Capita Income, Poverty Count, Poverty Rate, Unemployment Rate, year]
Index: []