In [1]:
#mLab login
# from mLab import username, password

#flask setup
from flask import Flask, render_template, redirect, jsonify
app = Flask(__name__)

#Mongo DB connection with mLab
from pymongo import MongoClient
import pandas as pd

client = MongoClient("mongodb://%s:%s@ds133816.mlab.com:33816/heroku_sdvkxt9m" % ("admin", "powerballdata")) 

db = client.heroku_sdvkxt9m

total_collection = db.total_collection

In [6]:
year = int('2010')
pipe = [{'$match': {'year': year}},{'$group': {'_id': '$states', 'norm_draw_sales': {'$sum': '$norm_draw_sale_by_state'}, 'norm_pp_sales': {"$sum": '$norm_pp_sale_by_state'} }}, {'$sort': {'_id': 1}}]
results = total_collection.aggregate(pipeline=pipe) 

df = pd.DataFrame(list(results))
df.dropna(inplace = True)
df['sum_sales']=df['norm_draw_sales']+df['norm_pp_sales']
df.sort_values('sum_sales', ascending=False, inplace=True)
df.head()
    
   
    
    #sales_dict = df.to_dict(orient = 'list')
    
    #return sales_dict

                  _id  norm_draw_sales  norm_pp_sales  sum_sales
33       Rhode Island        21.666304       3.352835  25.019139
5   Dist. of Columbia        20.150416       2.978537  23.128953
4            Delaware        19.687230       2.237710  21.924941
23      New Hampshire        17.159611       1.889262  19.048873
14          Louisiana        15.874279       2.663233  18.537512