In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("final.csv")

In [3]:
df.head()

,draw_sales,jackpot,pp_sales,state_abbr,state_draw_sales,state_pp_sales,date_format,ticket_sales,revenue,year,...,total_winners,Household Income,Median Age,Per Capita Income,Population,Poverty Count,Poverty Rate,Unemployment Count,Unemployment Rate,unique_id
0,33842134.0,177.0,3144938.0,AR,207040.0,50023.0,2017-12-02,103520.0,257063.0,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-02_AR
1,33842134.0,177.0,3144938.0,AZ,790702.0,59666.0,2017-12-02,395351.0,850368.0,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-02_AZ
2,33842134.0,177.0,3144938.0,CA,3292686.0,0.0,2017-12-02,1646343.0,3292686.0,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-02_CA
3,33842134.0,177.0,3144938.0,CO,560076.0,126852.0,2017-12-02,280038.0,686928.0,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-02_CO
4,33842134.0,177.0,3144938.0,DC,80140.0,6985.0,2017-12-02,40070.0,87125.0,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-02_DC

In [4]:
df['norm_tick_sales'] = df['ticket_sales']/df['Population']

In [6]:
df.tail()

,draw_sales,jackpot,pp_sales,state_abbr,state_draw_sales,state_pp_sales,date_format,ticket_sales,revenue,year,...,Household Income,Median Age,Per Capita Income,Population,Poverty Count,Poverty Rate,Unemployment Count,Unemployment Rate,unique_id,norm_tick_sales
36134,37513118.0,144.0,6303025.0,VA,722125.0,166211.0,2010-03-06,722125.0,888336.0,2010.0,...,61406.0,37.2,32145.0,7841754.0,781516.0,9.966087,NaN,NaN,2010-03-06_VA,0.092087
36135,37513118.0,144.0,6303025.0,VI,29840.0,18816.0,2010-03-06,29840.0,48656.0,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-03-06_VI,NaN
36136,37513118.0,144.0,6303025.0,VT,78778.0,25085.0,2010-03-06,78778.0,103863.0,2010.0,...,51841.0,41.0,27478.0,624258.0,66726.0,10.688850,NaN,NaN,2010-03-06_VT,0.126195
36137,37513118.0,144.0,6303025.0,WA,414727.0,38536.0,2010-03-06,414727.0,453263.0,2010.0,...,57244.0,37.0,29733.0,6561297.0,780009.0,11.888031,NaN,NaN,2010-03-06_WA,0.063208
36138,37513118.0,144.0,6303025.0,WI,845169.0,81542.0,2010-03-06,845169.0,926711.0,2010.0,...,51598.0,38.1,26624.0,5637947.0,637613.0,11.309312,NaN,NaN,2010-03-06_WI,0.149907

In [7]:
df['norm_revenue'] = df['revenue']/df['Population']

In [8]:
df.columns

Index(['draw_sales', 'jackpot', 'pp_sales', 'state_abbr', 'state_draw_sales',
       'state_pp_sales', 'date_format', 'ticket_sales', 'revenue', 'year',
       'numbers', 'powerball', '1_PB PB', '1_PB PP', '2_PB PB', '2_PB PP',
       '3 PB', '3 PP', '3_PB PB', '3_PB PP', '4 PB', '4 PP', '4_PB PB',
       '4_PB PP', '5 PB', '5 PP', '5_PB PB', 'PB_Only PB', 'PB_Only PP',
       'pb_winners', 'pp_winners', 'states', 'total_winners',
       'Household Income', 'Median Age', 'Per Capita Income', 'Population',
       'Poverty Count', 'Poverty Rate', 'Unemployment Count',
       'Unemployment Rate', 'unique_id', 'norm_tick_sales', 'norm_revenue'],
      dtype='object')

In [9]:
df['norm_draw_sale_by_state']=df['state_draw_sales']/df['Population']

In [10]:
df['norm_pp_sale_by_state'] = df['state_pp_sales']/df['Population']

In [15]:
df['%_draw_sales'] = df['state_draw_sales']/df['draw_sales'] * 100

In [18]:
df.head(47)

,draw_sales,jackpot,pp_sales,state_abbr,state_draw_sales,state_pp_sales,date_format,ticket_sales,revenue,year,...,Poverty Count,Poverty Rate,Unemployment Count,Unemployment Rate,unique_id,norm_tick_sales,norm_revenue,norm_draw_sale_by_state,norm_pp_sale_by_state,%_draw_sales
0,33842134.0,177.0,3144938.0,AR,207040.0,50023.0,2017-12-02,103520.0,257063.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_AR,NaN,NaN,NaN,NaN,0.611782
1,33842134.0,177.0,3144938.0,AZ,790702.0,59666.0,2017-12-02,395351.0,850368.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_AZ,NaN,NaN,NaN,NaN,2.336442
2,33842134.0,177.0,3144938.0,CA,3292686.0,0.0,2017-12-02,1646343.0,3292686.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_CA,NaN,NaN,NaN,NaN,9.729546
3,33842134.0,177.0,3144938.0,CO,560076.0,126852.0,2017-12-02,280038.0,686928.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_CO,NaN,NaN,NaN,NaN,1.654967
4,33842134.0,177.0,3144938.0,DC,80140.0,6985.0,2017-12-02,40070.0,87125.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_DC,NaN,NaN,NaN,NaN,0.236805
5,33842134.0,177.0,3144938.0,DE,166354.0,12954.0,2017-12-02,83177.0,179308.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_DE,NaN,NaN,NaN,NaN,0.491559
6,33842134.0,177.0,3144938.0,FL,3222110.0,377607.0,2017-12-02,1611055.0,3599717.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_FL,NaN,NaN,NaN,NaN,9.521001
7,33842134.0,177.0,3144938.0,GA,1041772.0,57311.0,2017-12-02,520886.0,1099083.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_GA,NaN,NaN,NaN,NaN,3.078328
8,33842134.0,177.0,3144938.0,IA,385304.0,57613.0,2017-12-02,192652.0,442917.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_IA,NaN,NaN,NaN,NaN,1.138533
9,33842134.0,177.0,3144938.0,ID,221306.0,24927.0,2017-12-02,110653.0,246233.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_ID,NaN,NaN,NaN,NaN,0.653936
10,33842134.0,177.0,3144938.0,IL,1022564.0,81137.0,2017-12-02,511282.0,1103701.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_IL,NaN,NaN,NaN,NaN,3.021571
11,33842134.0,177.0,3144938.0,IN,741664.0,68947.0,2017-12-02,370832.0,810611.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_IN,NaN,NaN,NaN,NaN,2.191540
12,33842134.0,177.0,3144938.0,KS,302420.0,21391.0,2017-12-02,151210.0,323811.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_KS,NaN,NaN,NaN,NaN,0.893620
13,33842134.0,177.0,3144938.0,KY,583426.0,40966.0,2017-12-02,291713.0,624392.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_KY,NaN,NaN,NaN,NaN,1.723963
14,33842134.0,177.0,3144938.0,LA,680204.0,85442.0,2017-12-02,340102.0,765646.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_LA,NaN,NaN,NaN,NaN,2.009932
15,33842134.0,177.0,3144938.0,MA,839336.0,47288.0,2017-12-02,419668.0,886624.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_MA,NaN,NaN,NaN,NaN,2.480151
16,33842134.0,177.0,3144938.0,MD,722590.0,47763.0,2017-12-02,361295.0,770353.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_MD,NaN,NaN,NaN,NaN,2.135179
17,33842134.0,177.0,3144938.0,ME,149902.0,37515.0,2017-12-02,74951.0,187417.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_ME,NaN,NaN,NaN,NaN,0.442945
18,33842134.0,177.0,3144938.0,MI,1028652.0,55478.0,2017-12-02,514326.0,1084130.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_MI,NaN,NaN,NaN,NaN,3.039560
19,33842134.0,177.0,3144938.0,MN,520530.0,21335.0,2017-12-02,260265.0,541865.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_MN,NaN,NaN,NaN,NaN,1.538112
20,33842134.0,177.0,3144938.0,MO,760712.0,30628.0,2017-12-02,380356.0,791340.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_MO,NaN,NaN,NaN,NaN,2.247825
21,33842134.0,177.0,3144938.0,MT,84252.0,15728.0,2017-12-02,42126.0,99980.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_MT,NaN,NaN,NaN,NaN,0.248956
22,33842134.0,177.0,3144938.0,NC,1172230.0,160987.0,2017-12-02,586115.0,1333217.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_NC,NaN,NaN,NaN,NaN,3.463818
23,33842134.0,177.0,3144938.0,ND,77902.0,20328.0,2017-12-02,38951.0,98230.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_ND,NaN,NaN,NaN,NaN,0.230192
24,33842134.0,177.0,3144938.0,NE,287150.0,22106.0,2017-12-02,143575.0,309256.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_NE,NaN,NaN,NaN,NaN,0.848499
25,33842134.0,177.0,3144938.0,NH,248514.0,18584.0,2017-12-02,124257.0,267098.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_NH,NaN,NaN,NaN,NaN,0.734333
26,33842134.0,177.0,3144938.0,NJ,1507958.0,87164.0,2017-12-02,753979.0,1595122.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_NJ,NaN,NaN,NaN,NaN,4.455860
27,33842134.0,177.0,3144938.0,NM,198596.0,27566.0,2017-12-02,99298.0,226162.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_NM,NaN,NaN,NaN,NaN,0.586831
28,33842134.0,177.0,3144938.0,NY,2709238.0,111981.0,2017-12-02,1354619.0,2821219.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_NY,NaN,NaN,NaN,NaN,8.005518
29,33842134.0,177.0,3144938.0,OH,890904.0,97021.0,2017-12-02,445452.0,987925.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_OH,NaN,NaN,NaN,NaN,2.632529
30,33842134.0,177.0,3144938.0,OK,311726.0,73047.0,2017-12-02,155863.0,384773.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_OK,NaN,NaN,NaN,NaN,0.921118
31,33842134.0,177.0,3144938.0,OR,451908.0,37126.0,2017-12-02,225954.0,489034.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_OR,NaN,NaN,NaN,NaN,1.335341
32,33842134.0,177.0,3144938.0,PA,1726338.0,204973.0,2017-12-02,863169.0,1931311.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_PA,NaN,NaN,NaN,NaN,5.101150
33,33842134.0,177.0,3144938.0,PR,26.0,2.0,2017-12-02,13.0,28.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_PR,NaN,NaN,NaN,NaN,0.000077
34,33842134.0,177.0,3144938.0,RI,211512.0,25325.0,2017-12-02,105756.0,236837.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_RI,NaN,NaN,NaN,NaN,0.624996
35,33842134.0,177.0,3144938.0,SC,596980.0,135032.0,2017-12-02,298490.0,732012.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_SC,NaN,NaN,NaN,NaN,1.764014
36,33842134.0,177.0,3144938.0,SD,100286.0,14120.0,2017-12-02,50143.0,114406.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_SD,NaN,NaN,NaN,NaN,0.296335
37,33842134.0,177.0,3144938.0,TX,2266606.0,342095.0,2017-12-02,1133303.0,2608701.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_TX,NaN,NaN,NaN,NaN,6.697586
38,33842134.0,177.0,3144938.0,VA,855138.0,84130.0,2017-12-02,427569.0,939268.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_VA,NaN,NaN,NaN,NaN,2.526844
39,33842134.0,177.0,3144938.0,VI,0.0,0.0,2017-12-02,0.0,0.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_VI,NaN,NaN,NaN,NaN,0.000000
40,33842134.0,177.0,3144938.0,VT,64168.0,14454.0,2017-12-02,32084.0,78622.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_VT,NaN,NaN,NaN,NaN,0.189610
41,33842134.0,177.0,3144938.0,WA,469596.0,32410.0,2017-12-02,234798.0,502006.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_WA,NaN,NaN,NaN,NaN,1.387608
42,33842134.0,177.0,3144938.0,WI,643284.0,53359.0,2017-12-02,321642.0,696643.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_WI,NaN,NaN,NaN,NaN,1.900838
43,33842134.0,177.0,3144938.0,WV,261384.0,21930.0,2017-12-02,130692.0,283314.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_WV,NaN,NaN,NaN,NaN,0.772363
44,33842134.0,177.0,3144938.0,WY,63486.0,13552.0,2017-12-02,31743.0,77038.0,2017.0,...,NaN,NaN,NaN,NaN,2017-12-02_WY,NaN,NaN,NaN,NaN,0.187595
45,29306014.0,163.0,2662866.0,AR,175108.0,40701.0,2017-11-29,87554.0,215809.0,2017.0,...,NaN,NaN,NaN,NaN,2017-11-29_AR,NaN,NaN,NaN,NaN,0.597516
46,29306014.0,163.0,2662866.0,AZ,710842.0,52286.0,2017-11-29,355421.0,763128.0,2017.0,...,NaN,NaN,NaN,NaN,2017-11-29_AZ,NaN,NaN,NaN,NaN,2.425584

In [21]:
df.groupby('date_format')['%_draw_sales'].sum()

date_format
2010-03-06     98.726541
2010-03-10     98.757542
2010-03-13     98.737467
2010-03-17     98.608095
2010-03-20     98.628322
2010-03-24     98.648514
2010-03-27     98.656042
2010-03-31     98.629152
2010-04-03     98.610339
2010-04-07     98.682924
2010-04-10     98.646665
2010-04-14     98.672043
2010-04-17     98.733262
2010-04-21     98.824956
2010-04-24     98.677168
2010-04-28     98.690409
2010-05-01     98.689401
2010-05-05     98.707981
2010-05-08     98.688921
2010-05-12     98.714608
2010-05-15     98.727773
2010-05-19     98.730532
2010-05-22     98.717473
2010-05-26     98.766112
2010-05-29     98.758714
2010-06-02     98.795639
2010-06-05     99.524957
2010-06-09     98.660464
2010-06-12     98.692150
2010-06-16     98.722037
                 ...
2017-08-23    100.000000
2017-08-26    100.000000
2017-08-30    100.000000
2017-09-02    100.000000
2017-09-06    340.945582
2017-09-09    100.000000
2017-09-13     99.993071
2017-09-16    100.000000
2017-09-20    100.000000
2017-09-23    100.000000
2017-09-27    100.000000
2017-09-30    100.000000
2017-10-04    100.000000
2017-10-07    100.000000
2017-10-11    100.000000
2017-10-14    100.000000
2017-10-18    100.000000
2017-10-21    100.000000
2017-10-25    100.000000
2017-10-28     98.223501
2017-11-01    100.000000
2017-11-04    100.000000
2017-11-08    100.000000
2017-11-11     99.987792
2017-11-15    100.000000
2017-11-18    100.000000
2017-11-22     96.101179
2017-11-25     95.973128
2017-11-29     96.123403
2017-12-02     96.089307
Name: %_draw_sales, Length: 809, dtype: float64

In [13]:
len(df)

36139

In [22]:
df.to_csv('final.csv', index=False)